@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --background-img: url'/home-img.avif'; */
}
/* @ */
theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Roboto', sans-serif;
  --font-script: 'Dancing Script', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

html, body {
  background-color: #ffffff !important;
  background: #ffffff !important;
}

body {
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}
